新建一个用户，再新建一个数据库，赋予新用户可操作该数据库的所有权限：

In [ ]:
CREATE USER 'new_user'@'localhost' IDENTIFIED BY 'password';
CREATE DATABASE new_database;
GRANT ALL PRIVILEGES ON new_database.* TO 'new_user'@'localhost';
FLUSH PRIVILEGES;

在新数据库中新建一张user表，插入几条数据：

In [ ]:
USE new_database;

CREATE TABLE user (
    id INT PRIMARY KEY,
    name VARCHAR(255),
    sex VARCHAR(10),
    age INT,
    phone VARCHAR(20)
);

INSERT INTO user (id, name, sex, age, phone) VALUES
    (1, 'John', 'Male', 25, '1234567890'),
    (2, 'Jane', 'Female', 22, '9876543210'),
    (3, '张三', 'Male', 30, '5555555555');

查询user表中所有年龄在20到30范围内的用户：

In [ ]:
SELECT * FROM user WHERE age BETWEEN 20 AND 30;

删除user表中名字包含“张”的用户：

In [ ]:
DELETE FROM user WHERE name LIKE '%张%';

计算user表中所有用户的平均年龄：

In [ ]:
SELECT AVG(age) AS average_age FROM user;

查询user表中年龄在20到30范围内，名字包含“张”的用户，并按照年龄从大到小排序输出：

In [ ]:
SELECT * FROM user WHERE age BETWEEN 20 AND 30 AND name LIKE '%张%' ORDER BY age DESC;

新建两张表team（id, teamName）和score（id, teamid, userid, score）：

In [ ]:
CREATE TABLE team (
    id INT PRIMARY KEY,
    teamName VARCHAR(255)
);

CREATE TABLE score (
    id INT PRIMARY KEY,
    teamid INT,
    userid INT,
    score INT,
    FOREIGN KEY (teamid) REFERENCES team(id),
    FOREIGN KEY (userid) REFERENCES user(id)
);

查询teamName为“ECNU”的队伍中，年龄小于20的用户们：

In [ ]:
SELECT u.* FROM user u
JOIN score s ON u.id = s.userid
JOIN team t ON s.teamid = t.id
WHERE t.teamName = 'ECNU' AND u.age < 20;

计算teamName为“ECNU”的总分（假设score存在null值，默认为0加入计算）：

In [ ]:
SELECT teamName, COALESCE(SUM(score), 0) AS total_score
FROM team t
LEFT JOIN score s ON t.id = s.teamid
WHERE t.teamName = 'ECNU'
GROUP BY teamName;